// Fonts
$font-default: "Open Sans", sans-serif;
$font-Arial: "Arial", sans-serif;

// font-size

$font-size-14: 14px;
$font-size-12: 12px;

// color
$color-white: #fff;
$color-dark-gray: #cacaca;
$color-black: #000;
$color-shadow: rgba(134, 60, 80, 0.2);
$color-gold: #fbe103;

// Animation

$transition-base: 0.3s ease;
